services:
  fastapi:
    build:
      context: /opt/fastapi_xray
      dockerfile: Dockerfile
    container_name: fastapi
    restart: unless-stopped
    ports:
      - "{{ fastapi_port }}:8081"
    volumes:
      - {{ fastapi_app_path }}:/app/app
      - /opt/fastapi_xray/restart_xray.sh:/app/restart_xray.sh:rw
      - {{ xray_config_path }}:/usr/local/etc/xray/config.json:rw
      - /etc/systemd/system:/etc/systemd/system:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ xray_logs_path }}/access.log:/logs/xray/access.log:ro
      - {{ xray_logs_path }}/error.log:/logs/xray/error.log:ro
      - {{ squid_passwd_path }}:/etc/squid/passwd:rw
    environment:
      - PYTHONUNBUFFERED=1
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
