[Unit]
Description=FastAPI Xray Service
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/fastapi_xray
ExecStart=/usr/bin/docker-compose -f docker-compose-fastapi.yml up -d
ExecStop=/usr/bin/docker-compose -f docker-compose-fastapi.yml down
ExecReload=/usr/bin/docker-compose -f docker-compose-fastapi.yml restart
TimeoutStartSec=0
User=root

[Install]
WantedBy=multi-user.target
