http_port 127.0.0.1:{{ squid_port }}

# Аутентификация
auth_param basic program /usr/lib/squid/basic_ncsa_auth {{ squid_passwd_path }}
auth_param basic children 5
auth_param basic realm Squid proxy
auth_param basic credentialsttl 2 hours
auth_param basic casesensitive on

# ACL по логину
acl localnet src 127.0.0.1
acl authenticated proxy_auth REQUIRED

http_access allow localnet authenticated
http_access deny all

# Формат логов и пути
logformat compact %ts.%03tu %>a %<a %un %>rm %ru %>Hs %<st %Ss/%Sh "%{User-Agent}>h" "%{Host}>h"
access_log {{ squid_logs_path }}/access.log compact

cache_log {{ squid_logs_path }}/cache.log
cache_dir ufs /var/spool/squid 100 16 256

# Отключение лишнего
via off
forwarded_for delete
